
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="text-align: center">
<input type="text" [(ngModel)]="searchClass">
</div>
<div class="container">
              
  <table class="table">
    <thead>
      <tr>
        <th>bookingId</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>gender</th>
        <th>noOfSeats</th>
        <th>classs</th>
      </tr>
    </thead>
    <tbody>
      <!--rendering dynamic data thrg binding-->
      <tr *ngFor="let book of books | booking:searchClass">
        <td>{{book?.bookingId}}</td>
        <td>{{book?.firstName}}</td>
        <td>{{book?.lastName}}</td>
        <td>{{book?.gender}}</td>
        <td>{{book?.noOfSeats}}</td>
        <td>{{book?.classs}}</td>
      </tr>
      
    </tbody>
  </table>
</div>
<div class="container">
  <a href="http://localhost:4200/Home"><button  type="button" class="btn btn-success btn-lg btn-block" >Back To Dashboard</button></a>
  
</div>
</body>
</html>
