/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins|Nunito");

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-image: url("https://assets.wallpapersin4k.org/uploads/2017/04/Flight-Pictures-Wallpaper-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-family: 'Nunito', sans-serif;
}